<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1127348662/fr/photo/plein-cadre-de-ma%C3%AFs-souffl%C3%A9-d%C3%A9taill%C3%A9e-vue-den-haut-vue-de-dessus.jpg?b=1&s=612x612&w=0&k=20&c=UwATqxgNC8PWKEL2CTDKUAZswMc7FlZx05SeP3ucfN4=);">
  <div class="container">
    <h1> Sort your favorite movies </strong>!</h1>
    <p>And access to <strong>incredible</strong> movie nights </p>
  </div>
</div>
<div class="container">
  <div class="cards my-3">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523207911345-32501502db22?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bW92aWV8ZW58MHx8MHx8fDI%3D)">
        <h2>
          <strong>Create a new list</strong>
        </h2>
        <div class="card-footer">
          <i class="fa-solid fa-heart-circle-plus"></i>
          <%= link_to "Create my new list", new_list_path%>
        </div>
      </div>
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <h2>
          <%= list.name%>
        </h2>
        <div class="card-footer">
          <i class="fa-solid fa-film"></i>
          <%= link_to "See movies", list_path(list)%>
        </div>
      </div>
    <% end %>
  </div>
</div>
