<div class="container d-flex justify-content-center m-auto">
  <div class="col-8 bg-light">
    <h1 class="mb-3"> Create a new list </h1>

    <%= simple_form_for @list do |f| %>
      <%= f.input :name, input_HTLM: {class:"form-control"}, label_HTLM: {class:"form-label"} %>
      <%= f.submit "Create a new list", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
